{% block content %}
<section id="articles">
<h1>Articles</h1>
<p>There&#8217;s an <a href="http://rcrowley.org/index.xml">Atom feed</a> for the rabid fans and the lazy.</p>
<ul>
	<li><time datetime="2014-04-15">2014-04-15</time> &mdash; <a href="/2014/04/15/certified.html">Certified</a></li>
	<li><time datetime="2013-12-13">2013-12-13</time> &mdash; <a href="/articles/tiger-tonic.html">Go web services with Tiger Tonic</a></li>
	<li><time datetime="2013-04-27">2013-04-27</time> &mdash; <a href="/articles/golang-graceful-stop.html">Graceful stopping in Go</a></li>
	<li><time datetime="2013-04-19">2013-04-19</time> &mdash; <a href="/2013/04/19/golang-ack-test.html">Go acknowledgement test</a></li>
	<li><time datetime="2012-08-03">2012-08-03</time> &mdash; <a href="/articles/federated-graphite.html">Federated Graphite</a></li>
	<li><time datetime="2012-01-03">2012-01-03</time> &mdash; <a href="/2012/01/03/square.html">Square</a></li>
	<li><time datetime="2011-10-04">2011-10-04</time> &mdash; <a href="/2011/10/04/aws-cloudformation.html">Blueprints in the new AWS CloudFormation</a></li>
	<li><time datetime="2011-09-21">2011-09-21</time> &mdash; <a href="/2011/09/21/monads.html">Monads without pretension</a></li>
	<li><time datetime="2011-05-07">2011-05-07</time> &mdash; <a href="/articles/blueprint-diff-analogy.html">A blueprint is not a diff but it doesn&#8217;t matter</a></li>
	<li><time datetime="2011-03-28">2011-03-28</time> &mdash; <a href="/articles/operable-ruby.html">Operable Ruby</a></li>
	<li><time datetime="2011-01-28">2011-01-28</time> &mdash; <a href="/articles/packaging.html">Debian packaging for busy people &mdash; Debra and Freight</a></li>
	<li><time datetime="2011-01-13">2011-01-13</time> &mdash; <a href="/2011/01/13/gitpaid.html">Git Paid, the programmer&#8217;s time tracker</a></li>
</ul>
<ul>
	<li><time datetime="2010-11-08">2010-11-08</time> &mdash; <a href="/2010/11/08/puppet-camp.html">Securing and Extending Puppet</a></li>
	<li><time datetime="2010-09-27">2010-09-27</time> &mdash; <a href="/articles/dependencies.html">Dependency management for grown ups</a></li>
	<li><time datetime="2010-08-16">2010-08-16</time> &mdash; <a href="/2010/08/16/doubledown.html">Introducing Doubledown</a></li>
	<li><time datetime="2010-07-27">2010-07-27</time> &mdash; <a href="/2010/07/27/multio-ruby-io-multiplexer.html">MultIO Ruby IO Multiplexer</a></li>
	<li><time datetime="2010-06-24">2010-06-24</time> &mdash; <a href="/2010/06/24/redis-in-ganglia.html">Redis in Ganglia</a></li>
	<li><time datetime="2010-06-14">2010-06-14</time> &mdash; <a href="/articles/rxvt-unicode.html">rxvt-unicode</a></li>
	<li><time datetime="2010-05-11">2010-05-11</time> &mdash; <a href="/articles/debra.html">Debra</a></li>
	<li><time datetime="2010-05-10">2010-05-10</time> &mdash; <a href="/2010/05/10/q-r-s-t.html">q, r, s, t</a></li>
	<li><time datetime="2010-03-10">2010-03-10</time> &mdash; <a href="/articles/man-pages-vs-rubygems.html">Man pages versus RubyGems</a></li>
	<li><time datetime="2010-02-23">2010-02-23</time> &mdash; <a href="/articles/clint.html">Clint, a Ruby command line argument parser</a></li>
	<li><time datetime="2010-02-08">2010-02-08</time> &mdash; <a href="/2010/02/08/leaving-opendns.html">Leaving OpenDNS</a></li>
	<li><time datetime="2010-02-08">2010-02-08</time> &mdash; <a href="/articles/opendns-mysql-abuses.html">OpenDNS MySQL abuses</a></li>
	<li><time datetime="2010-01-29">2010-01-29</time> &mdash; <a href="/articles/php-references.html">PHP references</a></li>
	<li><time datetime="2010-01-27">2010-01-27</time> &mdash; <a href="/2010/01/27/json-in-php.html">JSON in PHP</a></li>
	<li><time datetime="2010-01-06">2010-01-06</time> &mdash; <a href="/2010/01/06/things-unix-can-do-atomically.html">Things UNIX can do atomically</a></li>
</ul>
<ul>
	<li><a href="/2009/09/">September 2009 archives</a></li>
	<li><a href="/2009/06/">June 2009 archives</a></li>
	<li><a href="/2009/05/">May 2009 archives</a></li>
	<li><a href="/2009/04/">April 2009 archives</a></li>
	<li><a href="/2009/03/">March 2009 archives</a></li>
	<li><a href="/2009/02/">February 2009 archives</a></li>
	<li><a href="/2009/01/">January 2009 archives</a></li>
	<li><a href="/2008/">2008 archives</a></li>
	<li><a href="/2007/">2007 archives</a></li>
</ul>
<p>Archives prior to 2007 have been lost.&nbsp; Shed no tears, they were terrible.</p>
<ul>
	<li><a href="/xul.html">Mozilla and XULRunner archives</a> (from the Flickr days)</li>
</ul>
</section>
<section id="talks">
<h1>Talks</h1>
<ul>
    <li><time datetime="2014-04-25">2014-04-25</time> &mdash; <a href="/talks/gophercon-2014.html">Building web services in Go</a> at <a href="http://gophercon.com/2014">GopherCon 2014</a></li>
    <li><time datetime="2014-01-15">2014-01-15</time> &mdash; <a href="/talks/gosf-2014-01-15.html">Building web services in Go</a> at <a href="http://www.meetup.com/golangsf/events/146084182/">GoSF</a> (<a href="http://www.hakkalabs.co/articles/building-web-services-go">video</a>)</li>
    <li><time datetime="2013-12-03">2013-12-03</time> &mdash; <a href="/talks/basho-chat-2013-12-03.html">A State Machine Datastore in the Wild</a> at Basho Chats 008</li>
	<li><time datetime="2013-11-19">2013-11-19</time> &mdash; <a href="/talks/opsmatic-2013-11-19.html">Regarding retries and restarts</a> at OpsMatic&#8217;s tech talks (<a href="https://www.youtube.com/watch?v=chutIR1rsWw">video</a>)</li>
	<li><time datetime="2013-09-20">2013-09-20</time> &mdash; <a href="/talks/strange-loop-2013.html">Patterns for scalable web services in Go</a> at <a href="http://thestrangeloop.com/archive/2013">Strange Loop 2013</a> (<a href="http://www.infoq.com/presentations/go-patterns-scalability">video</a>)</li>
	<li><time datetime="2013-09-12">2013-09-12</time> &mdash; <a href="/talks/surge-2013.html">A State Machine Datastore in the Wild</a> at <a href="http://surge.omniti.com/2013">Surge 2013</a> (<a href="http://surge.omniti.com/2013/speakers/speaker-crowley.html">video</a>)</li>
	<li><time datetime="2013-08-23">2013-08-23</time> &mdash; <a href="/talks/puppetconf-2013.html">Taming the Cowboy Laptop</a> at <a href="http://puppetconf.com/2013/">PuppetConf 2013</a> (<a href="http://puppetlabs.com/presentations/taming-cowboy-laptop">video</a>)</li>
	<li><time datetime="2013-08-08">2013-08-08</time> &mdash; <a href="/talks/agile-2013.html">Developing Operability</a> at <a href="http://agile2013.agilealliance.org">Agile 2013</a></li>
	<li><time datetime="2013-02-19">2013-02-19</time> &mdash; <a href="/talks/nodejs-2013-02-19/">Node.js at Betable</a> at <a href="http://www.meetup.com/Node-js-Serverside-Javascripters-Club-SF/events/101940222/">Node.js ++ (Serverside Javascripters) Club SF</a></li>
	<li><time datetime="2012-02-25">2012-02-25</time> &mdash; <a href="/2012/02/25/superconf.html">Developing Operability</a> at SuperConf</li>
	<li><time datetime="2011-09-29">2011-09-29</time> &mdash; <a href="/talks/rubyconf-2011/">Blueprint: configuration management for busy people</a> at RubyConf (<a href="http://www.youtube.com/watch?v=CUARNcqDVoU">video</a>)</li>
	<li><time datetime="2011-09-14">2011-09-14</time> &mdash; <a href="/talks/sf-python-2011-09-14/">Blueprint: configuration management for busy people</a> at SF Python Meetup</li>
	<li><time datetime="2011-08-23">2011-08-23</time> &mdash; <a href="/talks/sf-devops-2011-08-23/">Blueprint: configuration management for busy people</a> at SF DevOps Meetup</li>
	<li><time datetime="2011-04-28">2011-04-28</time> &mdash; <a href="/talks/puppet-camp-eu-2011/">Extending Puppet</a> at Puppet Camp EU 2011</li>
	<li><time datetime="2011-03-24">2011-03-24</time> &mdash; <a href="/talks/ruby-on-ales-2011/">Why is configuration management software written in Ruby?</a> at Ruby on Ales (with <a href="http://www.justin.tv/confreaks/b/282228659">video</a> at 1:12:07)</li>
	<li><time datetime="2011-03-11">2011-03-11</time> &mdash; <a href="/talks/pycon-2011/">Dependency Management with Puppet</a> at PyCon (long form with <a href="http://blip.tv/file/4879368">video</a>)</li>
	<li><time datetime="2011-01-11">2011-01-11</time> &mdash; <a href="/talks/sv-puppet-2011-01-11/">Extending Puppet</a> at Silicon Valley Puppet Meetup</li>
	<li><time datetime="2010-11-17">2011-11-17</time> &mdash; <a href="/talks/django-2010-11-17/">Dependency management with Puppet</a> at SF Django Meetup (with <a href="http://vimeo.com/17374825">video</a> in parts two and three)</li>
	<li><time datetime="2010-11-11">2010-11-11</time> &mdash; <a href="/talks/carbon-five-2010-11-11/">Dependency management with Puppet</a> at Carbon Five</li>
	<li><time datetime="2010-11-10">2010-11-10</time> &mdash; <a href="/talks/sfpython-2010-11-10/">Dependency management with Puppet</a> at SFPython</li>
	<li><time datetime="2010-10-14">2010-10-14</time> &mdash; <a href="/talks/strange-loop-2010/">Securing and Extending Puppet</a> at Strange Loop 2010</li>
	<li><time datetime="2010-10-07">2010-10-07</time> &mdash; <a href="/talks/puppet-camp-2010/">Securing and Extending Puppet</a> at Puppet Camp 2010</li>
	<li><time datetime="2010-09-29">2009-09-29</time> &mdash; <a href="/talks/sfruby-2010-09-29/">Dependency management with Puppet</a> at SFRuby</li>
	<li><time datetime="2009-06-23">2009-06-23</time> &mdash; <a href="/2009/06/23/building-opendns-stats-at-velocity">Building OpenDNS Stats</a> at Velocity 2009</li>
</ul>
</section>
<section id="links">
<h1>Links</h1>
<p>The Internet, as <a href="/links.html">curated</a> by yours truly.</p>
</section>
<section id="projects">
<h1>Projects</h1>
<ul>
	<li><a href="https://github.com/rcrowley/go-tigertonic">Tiger Tonic</a> &mdash; a Go framework for building JSON web services inspired by Dropwizard</li>
	<li><a href="https://github.com/rcrowley/go-metrics"><code>go-metrics</code></a> &mdash; Go port of Coda Hale's Metrics library</li>
	<li><a href="https://github.com/rcrowley/goagain"><code>goagain</code></a> &mdash; zero-downtime restarts in Go</li>
	<li><a href="https://github.com/rcrowley/certified">Certified</a> &mdash; generate and manage an internal CA for your company</li>
	<li><a href="https://github.com/rcrowley/freight">Freight</a> &mdash; a modern take on the Debian archive</li>
	<li><a href="https://github.com/rcrowley/json.sh"><code>json.sh</code></a> &mdash; pure-shell JSON parser</li>
	<li><a href="https://github.com/devstructure/blueprint">Blueprint</a> &mdash; reverse-engineer server configuration</li>
</ul>
</section>
{% endblock %}
