<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}Index{% endblock %} &mdash; Richard Crowley&#8217;s blog</title>
<link type="text/css" rel="stylesheet" href="/css/typography.css" />
<link type="text/css" rel="stylesheet" href="/css/2010-01-21.css" />
{% block feed %}<link type="application/atom+xml" rel="alternate" title="Richard Crowley&#8217;s blog" href="http://rcrowley.org/index.xml" />{% endblock %}
</head>
<body>
<header class="site"><h1><a href="/">Richard Crowley&#8217;s blog</a></h1></header>
{% block content %}
{% endblock %}
<footer class="site">
{% block tagline %}
	<p><strong>Richard Crowley?</strong>&nbsp; Kentuckian engineer on the Internet in San Francisco.&nbsp; Occasionally I blog about programming, UNIX, databases, and scalability.&nbsp; <a href="/about.html">More&hellip;</a></p>
{% endblock %}
	<p>Elsewhere:</p>
	<ul>
		<li><a href="http://github.com/rcrowley">GitHub</a></li>
		<li><a href="http://twitter.com/rcrowley">Twitter</a></li>
		<li><a href="http://pinboard.in/u:rcrowley">Pinboard</a></li>
		<li><a href="http://flickr.com/photos/rcrowley/">Flickr</a></li>
	</ul>
	<p class="copyright">Copyright &copy; 2007-2013 Richard Crowley</p>
</footer>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-20973978-1']);
_gaq.push(['_trackPageview']);
(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
